.tabela {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.tabela button{
  background-color: #8dc5f8;
  border: none;
  width: 100%;
  height: 20px;
  display: flex;
   justify-content: center;
   align-items: center;
}

td,
tr,
th {
  text-align: center;
  padding: 5px;
  background-color: #ebf4fc;
}
.pesquisa {
  width: 100%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.pesquisa input {
  width: 20%;
  height: 65%;
  background-color: #ebf4fc;
  border: none;
}
.pesquisa button {
  width: 5%;
  height: 70%;
  background-color: #8dc5f8;
  border: none;
  display: flex;
   justify-content: center;
   align-items: center;
}
.deleteButton {
  padding-top: 6%;
}
.editButton {
  padding-top: 2%;
}
